@use "../partials/colors" as *;

@mixin msg-common-style {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px;
}

@mixin border-style {
  border: 1px solid $card-border-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin text-style {
  text-align: center;
  font-weight: bold;
}
